body {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    background-color: #ebf0af;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }